
body {
  padding-top: 8%;
  padding-left: 10%;
  font-family: "Open Sans", sans-serif;
}
span,
p,
li {
  font-size: 24px;
}
h1 {
  font-size: 72px;
  margin-bottom: 40px;
}
h2 {
  font-size: 54px;
}

.spinner {
  display: none;
  border: 5px solid transparent; 
  border-right: 5px solid black;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
#spinner-results {
  margin-left: 20px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Main content  */
.calculator {
  display: flex;
  height: 100%;
  align-items: center;
}
.formcontrol {
  margin-left: 10px;
  margin-right: 10px;
  width: 90px;
}

.y {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 15px;
}
.formcontrol.red {
  color: #d9534f;
  border: 1px solid #d9534f;
}

.save-calculation {
  display: flex;
  align-items: center;
  height: 135px;
  margin-bottom: 50px;
}

.save-calculation .form-check-input {
  margin-left: 0;
}
.save-calculation .checkbox-text {
  margin-left: 25px;
  font-size: 16px;
  padding-top: 10px;
}

.alert {
  display: none;
  width: 220px;
  margin-left: -95px;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 70px;
}

#fortytooerror {
  color: #d9534f;
  font-size: 16px;
}

.results-header {
  display: flex;
  align-items: center;
}
#past-results {
  margin-top: 60px;
  padding-left: 0;
}
#past-results li {
  list-style-type: none;
  border-bottom: 1px solid black;
  width: 1190px;
  white-space: nowrap;
  padding-bottom: 10px;
  margin-bottom: 30px;
  color: #373a3c;
}
.bold {
  font-weight: bold;
  font-size: 25px;
}



.w3-button {
  background-color: beige;
  border: 1px solid beige;
  border-radius: 4px;
  width: 130px;
  height: 42px;
  display: flex;
  justify-content: space-between;
}
.w3-button span {
  font-size: 16px;
}
.w3-dropdown-content {
  text-align: center;
}
.dropdown-item {
  border: 1px solid #cccccc;
  border-bottom: none;
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  box-sizing: border-box;
  height: 40px;
}

.dropdown-item-last-item {
  border-bottom: 1px solid #cccccc;

}