
body {
  padding-top: 75px;
  padding-left: 150px;
  font-family: "Open Sans", sans-serif;
}
span,
p {
  font-size: 24px;
}
h1 {
  font-size: 72px;
  margin-bottom: 40px;
}
.content {
  display: flex;
  height: 100%;
  align-items: center;
  padding-right: 20px;
}
.form-control {
	width: 86px;
	height: 38px;
	background: #ffffff;
	border: 1px solid #cccccc;
	box-sizing: border-box;
	border-radius: 4px;
	margin-left: 20px;
}

#button {
	width: 39px;
	height: 38px;
	box-sizing: border-box;
	border-radius: 4px;
	margin-left: 20px;

}
#y {
  font-weight: bold;
  text-decoration: underline;
  margin-left: 15px;
}